.plusVote {
  color: green;
}

.negativeVote {
  color: red;
}

.image {
  height: 200px;
  width: 200px;
}

.dropdown {
  list-style-type: none;
}

.commentAuth {
  font-weight: bold;
}

/*angular animations*/

.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  transition:0.6s linear all;
  opacity:1;
}

.ng-leave.ng-leave-active {
  opacity:0;
}

/*This is for our hiding (this is not a class from ng-animate)*/
.ng-hide {
  transition:0.6s linear all;
  opacity:0;
}
